.C1{  border: 1px; border-style: solid; border-radius: 5px; width: 300px; padding: 10px; margin: 20px; 

}
.C2{  border: 1px; border-style: solid; border-radius: 5px; width: 300px; padding: 10px; margin: 20px;

}
.C3{  border: 1px; border-style: dashed; border-radius: 1px; width: 300px; padding: 10px; display: inline-block; margin: 20px;

}
.C4{  border: 1px; border-style: dashed; border-radius: 1px; width: 300px; padding: 10px; display: inline-block;

}